In [122]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [9]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [/Users/karenTratnik/.wdm/drivers/chromedriver/mac64/87.0.4280.88/chromedriver] found in cache

In [10]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [50]:
html = browser.html
soup = bs(html, 'html.parser')

**NASA Mars News**

In [51]:
sidebar = soup.find_all('ul', class_='item_list')

for article in sidebar:
    title = article.find('div', class_ = 'content_title').get_text()
    paragraph = article.find('div', class_='article_teaser_body').get_text()
    print(title)
    print(paragraph)

5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover
The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.

**JPL Mars Space Images - Featured Image**

In [73]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)

In [74]:
image_button = browser.find_by_id('full_image')

In [75]:
image_button.click()

In [91]:
more_info = browser.links.find_by_partial_text('more info')

In [94]:
more_info.click()

In [95]:
html = browser.html
soup = bs(html, 'html.parser')

In [96]:
img_url = soup.find('img', class_='main_image')['src']
img_url

'/spaceimages/images/largesize/PIA17550_hires.jpg'

In [107]:
url = jpl_url.split('spaceimages')[0]
url = url[:-1]
url

'https://www.jpl.nasa.gov'

In [109]:
featured_image_url = url + img_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17550_hires.jpg

**Mars Facts**

In [123]:
facts_url = 'https://space-facts.com/mars/'
browser.visit(facts_url)

In [144]:
facts_df = pd.read_html(facts_url)[0]

In [151]:
facts_df.columns=["Description","Mars"]

In [153]:
facts_df.set_index("Description", inplace=True)

In [155]:
facts_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers